*{
    margin: 0;
    padding: 0;
}

.my-container{
    background: #222;
    background: #000000aa;
}

#hr{
    opacity: 1;
    padding: 5px;
    background: linear-gradient(to right, red, blue);
    width: 100px;
    margin: 10px auto;
    border-radius: 20px;
}